/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import "tailwindcss";
@config "../tailwind.config.js";
 
@layer base {
  :root {
    --inset: 0 0% 90%;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 80%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --inset: 0 0% 12%;
    --background: 222.2 0% 8%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 0% 20%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 10% 40%;
    --input: 217.2 10% 40%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 10% 40%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 10% 30%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
}

/* Original themes */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
} */
 
/* 5/16 adobe upload

lavender: #7D5CF2
253 85% 65%

purple: #46268C
259 57% 35%

mauve: #4E3473
265 38% 33%

beet: #260126
300 95% 8%

black: #0D0D0D
0 0% 5%
*/
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */ 
@font-face {
  font-family: 'Fontin-Bold';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-Bold.ttf') format('truetype');
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Fontin-Italic';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-Italic.ttf') format('truetype');
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Fontin-Regular';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-Regular.ttf') format('truetype');
}

/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
  font-family: 'Fontin-SmallCaps';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-SmallCaps.ttf') format('truetype');
}

@font-face {
  font-family: 'Trajan';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/trajan.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  src: url('/fonts/Roboto-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

/* Russian support */
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  src: url('/fonts/Vollkorn-Medium.ttf') format('truetype');
  unicode-range: U+0400-04FF; /* Cyrillic */
}

/* :lang(ru) {
  font-family: 'Vollkorn';
} */

/* Korean support */
@font-face {
  font-family: 'Hahmlet';
  font-style: normal;
  src: url('/fonts/Hahmlet-Medium.ttf') format('truetype');
  unicode-range: U+1100-11FF, U+AC00-D7AF; /* Hangul */
}

/* :lang(ko) {
  font-family: 'DoHyeon';
} */

/* Thai support */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  src: url('/fonts/Kanit-Medium.ttf') format('truetype');
  unicode-range: U+0E00-0E7F; /* Thai */
}

/* :lang(th) {
  font-family: 'Kanit';
} */

/* Japanese support */
@font-face {
  font-family: 'Kosugi';
  font-style: normal;
  src: url('/fonts/Kosugi-Regular.ttf') format('truetype');
  unicode-range: U+3040-309F, U+30A0-30FF, U+4E00-9FAF; /* Hiragana, Katakana, Kanji */
}

/* :lang(ja) {
  font-family: 'Kosugi';
} */

/* Chinese support */
@font-face {
  font-family: 'NotoSansSC';
  font-style: normal;
  src: url('/fonts/NotoSansSC-Medium.ttf') format('truetype');
  unicode-range: U+4E00-9FFF; /* CJK Unified Ideographs (Simplified Chinese, shared with Japanese) */
}

/* :lang(zh) {
  font-family: 'NotoSansSC';
} */

/* TODO - font subsetting? */

.topNavButton {
  font-family: Fontin-SmallCaps;
  font-size: 32px;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  border-bottom-width: 0px;
}

/* .dark .topNavButton {
  font-family: Fontin-SmallCaps;
  font-size: 32px;
  color: hsl();
} */

.topNavButton:hover {
  color: hsl(var(--background));
  background-color: hsl(var(--foreground));
}

.TopNavActive {
  /* border-bottom-width: 0px; */
}

.TopNavActive:hover {
  background-color: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
}

.TopNavNotActive, .topNavDisabledButton{
  /* box-shadow: inset 0 -4px 6px -4px rgba(0, 0, 0, 0.8); */
}

.dark .TopNavActive:hover {
  background-color: hsl(var(--background)) !important;
  color: hsl(var(--foreground)) !important;
}

.dark .TopNavNotActive, .topNavDisabledButton{
  /* box-shadow: inset 0 -4px 6px -4px rgba(255, 255, 255, 0.8); */
}

.sidebarButtonText {
  font-family: Trajan;
  font-size: 24px;
}

.sidebarHomeButtonText {
  font-family: Trajan;
  font-size: 32px;
}


.thLogo {
  height: 32px;
  width: 32px;
}



.searchButton {
  font-family: Fontin-Regular;
  font-size: 28px;
}

.accordionTrigger {
  background-color: hsl(var(--background));
}

.jewelResultRowButton {
  width: 100%;
}

.contentTitle {
  font-family: Fontin-SmallCaps;
  font-size: 34px;
  margin-left: 5px;
}

.queryHeaderLabel {
  font-family: Roboto-Bold;
}

.queryHeader {
  font-family: Roboto;
  font-size: 14px;
  margin-left: 5px;
}

.queryDetail {
  margin-left: 10px;
  font-size: 14px;
}

.searchParamLabel {
  font-family: Roboto-Bold;
}

.searchParam {
  font-family: Roboto;
  margin-left: 5px;
}

.cardTitle {
  font-family: Roboto-Bold;
  font-weight: 500;
}

.transparentBackground {
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: hsl(var(--background) / 0.6);
}

.dark .transparentBackground {
  background-color: hsl(var(--card) / 0.7);
}

.chartTooltipWrapper {
  background-color: white;
}

.chartTooltipText {
  font-family: Roboto-Light;
  color: black;
  margin-left: 3px;
  margin-right: 3px;
}

.multiLang {
  font-family: 'Vollkorn', 'Hahmlet', 'Kanit', 'Kosugi', 'NotoSansSC', 'Fontin-SmallCaps', sans-serif;
}

.fontin {
  font-family: Fontin;
}

.fontinBold {
  font-family: Fontin-Bold;
}

.fontinSmallCaps {
  font-family: Fontin-SmallCaps;
}

.tradeSearch {
  font-family: Fontin;
  font-size: 18px;
}

.resultsSummaryText {
  font-family: Roboto;
  font-size: 18px;
}

.resultsSummaryTitle {
  font-family: Fontin-SmallCaps;
  font-size: 28px;
}

.roboto {
  font-family: Roboto;
}

._toastMsg {
  padding-left: 15px !important;
}

._toastBtn {
  padding-right: 10px !important;
}

._toastItem {
  border-radius: 10px !important;
}

.selectedJewelButton {
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
  /* border: 5px; */
  /* border-color: gold; */
}

.selectedJewelBadge {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.insetCard {
  background-color: hsl(var(--inset));
}

.apexcharts-pie-area {
  stroke: hsl(var(--background));
}