@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    /* --primary: 259 57% 35%; */
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    /* --secondary: 253 85% 65%; */
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 253 85% 65%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
}

/* 5/16 adobe upload

lavender: #7D5CF2
253 85% 65%

purple: #46268C
259 57% 35%

mauve: #4E3473
265 38% 33%

beet: #260126
300 95% 8%

black: #0D0D0D
0 0% 5%
*/
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: 'Fontin-Bold';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fontin-Italic';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fontin-Regular';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fontin-SmallCaps';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Fontin-SmallCaps.ttf') format('truetype');
}

.topNavButton {
  font-family: Fontin-SmallCaps;
  font-size: 32px;
}

.topNavButton:hover {
  color: white;
}

.sidebarButtonText {
  font-family: Fontin-Bold;
  font-size: 24px;
}

.sidebarHomeButtonText {
  font-family: Fontin-Bold;
  font-size: 30px;
}


.thLogo {
  height: 32px;
  width: 32px;
}

.TopNavActive:hover {
  background-color: white !important;
  color: black !important;
}

.TopNavNotActive, .topNavDisabledButton{
  box-shadow: inset 0 -4px 6px -4px rgba(0, 0, 0, 0.8);
}